* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(241, 232, 215);
}

a {
    color: navy;
    text-decoration: none;
}

p {
    font-size: 35px;
}

#mainNav {    
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;

} 

#mainNav .navbar-brand {
    color: #110df1;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #1900ff;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #1900ff;
}

#mainNav .navbar-nav > li > a {
    font-size: 15px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
    color: #000000 !important;
    background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
    color: #1900ff;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #ffffff;
}

button {
    color: #1900ff;
}

.hero-banner {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    background: url("./images/bc7.jpg");
    background-position: center;
}

.hero-banner .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

.hero-banner .header-content h1 {
    font-size: 50px;
}

.hero-banner .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

.hero-banner .device-container .screen img {
    border-radius: 3px;
}

.bg1 {
    background-image: url(./images/BC5.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.bg2 {
    background-image: url(./images/BC4.jpg);
    background-position: center;
    background-size: cover;
}

.bg3 {
    background-image: url(./images/BC2.jpg);
    background-position: center;
    background-size: cover;
}

.bg4 {
    background-image: url(./images/office.jpg);
    background-position: center;
    background-size: cover;
}

.bg5 {
    background-image: url(./images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.Work {
    background-image: url(./images/bc6.jpg);
}

.Skills {
    background-color: #000000;
    color: #ffffff;
}